html{
  background-image: url('/static/img/taiwan.jpg');
  background-size: cover;
}
div{

}
h1{
  font-family: helvetica,Time New Roman;
}
#selection{
  line-height: 100px;
  text-align: center;
  font-size: 20px;
}
#headline{
  height: 80px;
  background-color:black;
  color: white;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  line-height: 40px;
  top: 0px;
  left: 0px;
}
#question{
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
#select1{
  font-family: helvetica,Time New Roman;
  background-color: black;
  color: white;
  font-size: 20px;
}
#submit{
  font-family: 微軟正黑體,標楷體;
  font-size: 18px;
}