<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
	<div id="top">

	</div>
	<div>
		<nav class="menu lt">
		  	<input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
		  		<label class="menu-open-button border" for="menu-open">
		  			<h1>
			  			City
					</h1>
		 		</label>

		  	<a href="/food" class="menu-item">
		  		<h1>
		  			Restaurant
		  		</h1>
		 	</a>
			<a href="/country" class="menu-item">
			  	<h1>
			  		Tourism
			  	</h1>
			</a>

		</nav>
		<a href="/food">
			<div class="square rt circle">
				<h1>Restaurant</h1>
			</div>
		</a>
		<a href="">
			<div class="square ld circle">
				<h1>traffic</h1>
			</div>
		</a>
		<a href="/search">
			<div class="square rd border">
				<h1>
					Search
				</h1>
			</div>
		</a>
	</div>
</body>
</html>
